* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  display: block;
  margin-top: 100px;
  text-align: center;
  font-weight: 800;
  font-size: 60px;
}

nav {
  position: relative;
  font-weight: 300;
  font-size: 20px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
  }
  li {
    float: left;
  }
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 300;
  }
  a:hover {
    background-color: #696969;
  }
}

.about_coffee {
  min-height: 600px;
  &_subheader {
    margin: 17px 0 17px 0;
    color: #4a4a4a;
    font-size: 23px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
  &_descr {
    text-align: center;
    margin: 0 40px;
    line-height: 40px;
    font-weight: 300;
    font-size: 20px;
  }
  &_list {
    font-weight: 300;
    font-size: 20px;
    margin: 20px 46px 0;

   ul {
    margin: 20px;
    list-style-type: circle;
    line-height: 30px;
    color: #000;
    li {
      a {
        text-decoration: none;
        text-shadow: #4a4a4a;
        color: #efaa21;
      }
    }
   }
  }
}

.carousel {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
  &_header {
    color: #252525;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  }
  &_divider {
    width: 217px;
    height: 4px;
    background-color: #efaa21;
    margin: 0 auto;
    margin-top: 18px;
  }
  &_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    padding: 120px 120px;
    &_item {
      display: inline-block;
      vertical-align: top;
      margin: 0 15px;
      width: 339px;
      text-align: center;
    }
    &_img {
      height: 100px;
    }
  }
}

.text {
  min-height: 600px;
  margin-top: 50px;
  font-weight: 300;
  text-align: center;
  &_header {
    font-weight: 300;
    font-size: 30px;
    padding: 0 30px 0 30px;
  }
  &_subheader {
    margin: 20px 0 30px 0;
    font-weight: 300;
    font-size: 30px;
    color: #efaa21;
  }
  &_descr {
    font-size: 20px;
    font-weight: 300;
  }
}